.project-header {
  padding-bottom: 16px;

  &-icon {
    color: #1890ff;
    margin-right: 10px;
  }

  &-title {
    font-size: 20px;
  }

  &-description {
    font-size: 12px;
    color: #9a9ca0;
    font-weight: 400;
    padding: 10px 0 0 0;
  }
}
